*{
box-sizing: border-box;
}
ToDoList{
  margin:0;
  padding:0;
}
ul li{
  cursor: pointer;
  position: relative;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
