*{
box-sizing: border-box;
}
ToDoList{
  margin:0;
  padding:0;
}
TodoList li{
  cursor: pointer;
  position: relative;
}
TodoList li:hover {
  background: #ddd;
}
TodoList li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
